@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.formContainer {
  background: linear-gradient(to right, #2148c0, rgb(37, 157, 216));
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  button {
    border: none;
    padding: 1rem 2rem;
    background: transparent;
    transition: all 0.5s;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 1em;
    border: none;
    color: white;
    cursor: pointer;

    &:hover {
      // background: rgb(1, 76, 23);
      background: linear-gradient(to right, rgb(2, 164, 2), rgb(17, 126, 2));

      transform: scale(1.2);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    &:active {
      transform: transitionY(20%);
    }
  }

  .logoutBtn:hover {
    background: linear-gradient(to right, rgb(208, 16, 16), rgb(172, 20, 20));
    color: white;
  }

  .formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: white;
    padding: 20px;

    ::placeholder {
      color: white;
      opacity:.7;
    }

    .login {
      text-transform: uppercase;
    }

    .register {
      text-transform: uppercase;
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 1em;
      width: 200px;

      input {
        border: none;
        outline: none;
        padding: 1em;
        background: transparent;
        border-bottom: 1px solid white;
        color: white;
        text-transform: uppercase;
      }
    }

    p {
      font-size: 0.8em;
      text-align: center;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  .homeWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px dashed white;
    width: 50%;
    height: 50%;
    border-radius: 5px;
  }
}
